<% @is_edit_profile_page = TRUE %>
<h1>Editing profile</h1>

<div class="sidebar">
	After selecting a document to upload, click "Update Profile" to submit it. You'll have the option to upload a new file later.
</div>

<%= render 'form' %>

