<% @is_edit_profile_page = TRUE %>
<h1>Editing profile</h1>

<!-- <div class="sidebar">
	You will be able to upload your CV, letter of intent and paper starting in January.
</div> -->

<%= render 'form' %>

