
	<div class="container">
		<% if !user_signed_in? %>
			<% if !@is_login_page %>
				<%= link_to "Login", new_user_session_path, :class => "button" %>	
			<% end %>
		<% else %>
			<%= link_to "Home", root_url, :class => "button" %>	
		<% end %>
		
		<% #ADMIN LINKS %>
		<% if current_user.try(:admin?) %>
			<%= link_to "User Files", file_list_path, :class => "button yellow" %>
			<%= link_to "Users", user_list_path, :class => "button yellow" %>	
		<% end %>
		
	</div>
